.posts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  flex-flow: wrap;
  overflow: auto;
}

.post-container {
  width: 30%;
  min-width: 380px;
  flex: 1 1 auto;
}

.post-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 5px 20px;
  height: 100%;
}

.selected-button {
  margin-right: 5px;
  transform: scale(1.5);
  filter: hue-rotate(45deg);
}

.purple-text {
  background-color: rgba(206, 163, 252, 0.1);
  color: rgb(126, 22, 224);
  border-radius: 40px;
  padding: 5px 10px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(45px);
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-flow: wrap;
  overflow: auto;
}

.bounce {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: #9b59b6;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1s infinite;
}

.bounce:nth-child(2) {
  animation-delay: 0.2s;
}

.bounce:nth-child(3) {
  animation-delay: 0.4s;
}
